openapi: 3.0.1
info:
  title: Qlty API
  description: >-
    Qlty is a code quality and coverage platform consisting of the free,
    open (Fair Source) Qlty CLI and the hosted Qlty Cloud service. As of this
    catalog entry, Qlty does not publish a documented public REST/HTTP API.


    Code quality analysis (linting, formatting, security scanning, code smells,
    duplication, and maintainability metrics) is performed by the Rust-based
    Qlty CLI, which is a local command-line tool rather than an HTTP service.
    Configuration lives in a .qlty/qlty.toml file in the Git repository.


    Code coverage is uploaded to Qlty Cloud with the CLI command
    `qlty coverage publish <report-file>`, authenticated by a per-project
    `QLTY_COVERAGE_TOKEN` environment variable. Supported report formats include
    lcov, Cobertura, Clover, JaCoCo, SimpleCov, dotCover, and xccov-json. The
    upload destination is handled internally by the CLI / GitHub Action and is
    not exposed as a documented public REST endpoint.


    Qlty Cloud itself (automated pull request review, quality gates, trends, and
    dashboards) is consumed through Git provider integrations (GitHub App /
    Action) and the web application, not through a documented public HTTP API.


    Because no public HTTP endpoints are documented, the paths object below is
    intentionally empty. This document will be updated if and when Qlty publishes
    a public API reference. No endpoints are fabricated here.
  termsOfService: https://qlty.sh/terms
  contact:
    name: Qlty Support
    url: https://qlty.sh/
  license:
    name: Fair Source (Business Source License 1.1) for the Qlty CLI
    url: https://github.com/qltysh/qlty/blob/main/LICENSE.md
  version: '1.0'
servers:
  - url: https://qlty.sh
    description: >-
      Qlty website and CLI install host (curl https://qlty.sh | sh). Not a
      documented public REST API base URL.
tags:
  - name: CLI
    description: Qlty CLI commands (qlty init, check, fmt, smells, metrics).
  - name: Coverage
    description: Coverage publishing via `qlty coverage publish` with QLTY_COVERAGE_TOKEN.
  - name: Cloud
    description: Qlty Cloud hosted analysis, PR review, quality gates, and dashboards.
paths: {}
components:
  securitySchemes:
    coverageToken:
      type: apiKey
      in: header
      name: QLTY_COVERAGE_TOKEN
      description: >-
        Per-project coverage token, supplied as the QLTY_COVERAGE_TOKEN
        environment variable to `qlty coverage publish`. Documented as a CLI
        environment variable, not a documented public REST API header.
